<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.png" type="image/x-icon"/>
    <title>מכירת החצר של משפחת ברנע</title>
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script>
        function focusImage(path) {
            $("#focusedImage")[0].src = path;
            $("#focusedImageModal").modal();
        }
    </script>

    <style>
        body {
            background-color: black; padding: 10px;
        }
        .sale-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            direction: rtl;
            text-align: center
        }
        .card {
            width: 18rem;
            margin: 5px;
        }
        @media screen and (max-width: 600px) {
            .card {
                flex-grow: 1
            }
        }

        .navbar {
            direction: rtl;
            text-align: right;
        }

.navbar-light .navbar-nav .nav-link { color: #0071ca !important;}

        .navbar-light .navbar-nav .nav-link.info {
            color: black !important;
            font-weight: bold;

        }



    </style>
</head>
<body>
<nav class="pull-right navbar navbar-expand-lg navbar-light bg-light navbar-right">
  <a class="navbar-brand" href="#">מכירת החצר של משפחת ברנע</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link info">איסוף מרחובות</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="tel:+972546628007">אורן ברנע - 054-6628007</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="tel:+972547872928">מיאל ברנע - 054-7872928</a>
      </li>
    </ul>
  </div>
</nav>
<div class="sale-container">
    <% for (var i = 0; i < items.length; i++) { %>
    <div class="card" >
        <div onclick="focusImage('/<%=items[i].image%>')" style="cursor: pointer; width: 100%; height: 15rem;overflow: hidden; background-image: url('/small/<%=items[i].image%>'); background-repeat: no-repeat; background-size: contain; background-position: center; background-color: aliceblue"></div>
        <div class="card-body">
            <h5 class="card-title"><%=items[i].title%></h5>
            <hr>
            <div class="badge badge-info" style="font-size: 1rem"><%=items[i].price%></div>
            <% if (items[i].readyAt === "now") {%>
                <div class="badge badge-success" style="font-size: 1rem">למכירה מיידית</div>
            <%} else { %>
                <div class="badge badge-warning" style="font-size: 1rem">למכירה בתחילת יוני</div>
            <% } %>


            <hr>
            <% for (var j = 0; j < items[i].text.length; j++) { %>
            <p class="card-text text-right"><%=items[i].text[j]%></p>
            <% } %>
            <% if (items[i].hasOwnProperty("link")) {%>
                <a href="<%=items[i].link%>" target="_blank"><div class="badge badge-secondary">מקור</div> </a>
            <% } %>
        </div>
    </div>
    <% } %>
</div>
<div class="modal fade" id="focusedImageModal" tabindex="-1" role="dialog" aria-hidden="true" style="border: none">
  <div class="modal-dialog" role="document" style="max-width: auto; height: 85vh; text-align: center; overflow: hidden;border: none">
    <div class="modal-content" style="background-color: transparent; border: none">
      <div class="modal-body">
        <img id="focusedImage" style="max-width: 100%; max-height: 80vh">
      </div>
    </div>
  </div>
</div>

</body>
</html>


